<ion-content class="ion-padding">
  <ion-grid>
    <ion-row class="">
        <ion-col class="top-20">
            <ion-img src="assets/icon.png" alt="400px"></ion-img>
            <h3>GestEducation</h3>
        </ion-col>
    </ion-row>
    <ion-row>
    <ion-col class="top-5">
        <h3>Bienvenid@ </h3>
    </ion-col>
    
</ion-row>
<ion-row>
<ion-col>
  <ion-button class="google" color="danger" (click)= "loginGoogle()">
    <ion-icon name="logo-google"></ion-icon>+Inicia Sesión con Google
  </ion-button>
</ion-col>
</ion-row>

</ion-grid>

</ion-content>
