ion-content,ion-toolbar {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1b577b+1,341a4a+100 */
    --ion-background-color: #9d9fa6;
    /* Old browsers */
    --ion-background-color: -moz-linear-gradient(-45deg,  #9d9fa6 1%, #ffffff 100%);
    /* FF3.6-15 */
    --ion-background-color: -webkit-linear-gradient(-45deg,  #9d9fa6 1%, #ffffff 100%);
    /* Chrome10-25,Safari5.1-6 */
    --ion-background-color: linear-gradient(135deg,  #9d9fa6 1%, #ffffff 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}